body {
background-image:url('../img/background.png');
background-repeat:repeat;
font-size: 16px;
padding: 0% 2%;
}

nav {
	background-color: transparent;
	border-radius: 1em;
	width: 100%;
	margin-bottom: 3%;
	float: left;
}
.navbar-header {
	width: 37%;
	float: left;
	max-width:10em;
	padding-top: 0.3em;
}
.navbar-content {
	width: 63%;
	float: left;
}
.navbar-header img {
	width: 95%;
}



#search {
	margin-top: 0.5em;
	height: 1.8em;
}
#searchblock {
	width: 67%;
	height: 100%;
	float: left;
	border-bottom-left-radius: 0.7em;
	border-top-left-radius: 0.7em;
	border: 1px solid #44bdc9;
	position: relative;
}
#searchicon {
	opacity: 0.7;
	color: #44bdc9;
	cursor: pointer;
	font-size: 1.2em;
	padding: 0.2em 0.1em 0.2em 0.2em;
	position: absolute;
	left: 0;
}
#searchbox {
	background-color: transparent;
	border: none;
	margin: 0.7em 3% 0.3em 2em;
	width: 75%;
	color:#979797;
	float: left;
}
#searchword {
	width: 28%;
	max-width: 4em;
	height: 100%;
	border: 1px solid #44bdc9;
	background-color: #44bdc9;
	border-top-right-radius: 0.7em;
	border-bottom-right-radius: 0.7em;
	float: left;
}
#searchword:active {
	background-color: #178d98;
}
#searchword span{
	float: left;
	width: 100%;
	margin: 0.3em 0 0.3em 0.5em;
	color: #fff;
}


/*main*/
#main {
	width: 100%;
	height: 100%;
	float: left;
}
.wishbox {
	height: 25%;
	min-height: 10.5em;
	max-height: 12em;
	width: 100%;
	border-bottom: 1px solid rgba(69,189,201,0.3);
	position: relative;
	overflow: hidden;
}
#main .wishbox:last-of-type {
	margin-bottom: 24px;
}
.wishbox .avatar {
	width: 2em;
	height: 2em;
	max-width: 12%;
	opacity: 0.5;
	float: left;
	position: relative;
	top: 1em;
	left: 2%;
	border-radius: 0.4em;
	-webkit-box-shadow:0em 0.1em 0.3em #666;
	-moz-box-shadow:0em 0.1em 0.3em #666;
	box-shadow:0em 0.1em 0.3em #666;
}
.wishbox .line {
	height: 100%;
	width: 2px;
	background-color: #44bdc9;
	float: left;
	position: absolute;
	left: 15%;
}
.wishbox .line img {
	width: 14px;
	position: absolute;
	top: 1.6em;
	left: -0.36em;
}
.wishbox .iwishbox {
	width: 75%;
	height: 100%;
	float: left;
	position: relative;
	left: 8%;
	background-size: 100% 100%;
	color: #fff;
	padding-left: 2em;
}
.wishbox .iwishbox .wishword{
	height: 70%;
	width: 77%;
	position: absolute;
	top: 18%;
	left: 13%;
}
.wishword .to {
}
.wishword .content {
	height: 55%;
	overflow: auto;
	margin:1% 0 2%;
}
.wishword .from {
	float: left;
}
.wishword .time {
	float: right;
	/*padding-right: 20%;*/
}

#makewish {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 5.6em;
	height: 5.6em;
	z-index: 10;
}
#makewishC1 {
	position: absolute;
	left: -0.15em;
	top: -0.2em;
	z-index: 12;
	color: #44bdc9;
	font-size: 4.8em;	
}
#makewishC2 {
	position: absolute;
	left: -0.17em;
	top: -0.22em;
	z-index: 11;
	color: #98dbe1;
	font-size: 5.2em;
}
#makewishC3 {
	position: absolute;
	left: -0.19em;
	top: -0.24em;
	z-index: 10;
	color: #44bdc9;
	font-size: 5.6em;	
	opacity: 0.6;
}
#makewishC4 {
	position: absolute;
	left: -0.225em;
	top: -0.265em;
	z-index: 10;
	color: #44bdc9;
	font-size: 6.4em;	
	opacity: 0.2;
}

/*.icon:hover #makewishC2 {
	opacity: 0.8;
	background-color: #98dbe1;
	width: 4.8em;
	height: 4.8em;
	left: -1em;
	top: -1em;
	border-radius: 2.4em;
}
.icon:hover #makewishC3 {
	opacity: 0.2;
	background-color: #44bdc9;
	width: 5.6em;
	height: 5.6em;
	left: -1.4em;
	top: -1.4em;
	border-radius: 2.8em;
}*/

.icon img {
	position: relative;
	z-index: 13;
	width: 2.8em;
	height: 2.8em;
}


/*wish*/
#wishwin {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #000;
}
#wish {
	width: 88%;
	height: 15em;
	background-size: 100% 100%;
	position: fixed;
	left: 50%;
	top: -20%;
	margin-left: -44%;
	z-index: -1;
	opacity: 0;
	font-family: sans-serif;
}
#doubleClickArea1,#doubleClickArea2,#doubleClickArea3 {
	position: absolute;
	width: 30%;
	height: 30%;
	z-index: 30;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#doubleClickArea1{
	top: 0;
	right: 0;
}
#doubleClickArea2{
	bottom: 0;
	left: 0;
}
#doubleClickArea3{
	bottom: 0;
	right: 0;
}
#wish div {
	width: 78%;
	height: 1.8em;
	color: #fff;
	margin-left: 10%;
	position: relative;
}
#wish div:first-of-type {
	margin-top: 1.4em;
}
#wish span {
	position: absolute;
	top: 0.3em;
}
#wish input {
	width: 100%;
	border: none;
	border-bottom: solid 1px #fff;
	color: #fff;
	background-color: transparent;
	padding-left: 2.5em;
	font-size: 1.2em;
}
#wish textarea {
	width: 80%;
	height: 4.8em;
	margin-left: 10%;
	padding-right: 2%;
	color: #fff;
	font-size: 1.2em;
	border: none;
	resize: none;
	background-color: transparent;
}
#content:-moz-placeholder,#to:-moz-placeholder,#from:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 0.6;  
}

#content::-moz-placeholder,#to::-moz-placeholder,#from::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 0.6;
}

#content:-ms-input-placeholder,#to:-ms-input-placeholder,#from:-ms-input-placeholder {
    color: #fff;
    opacity: 0.6;
}

#content::-webkit-input-placeholder,#to::-webkit-input-placeholder,#from::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.6;
}
#wish div:last-of-type {
	width: 6em;
	margin-left: auto;
	margin-right: auto;
}
#wish #submit {
	border: 1px solid #fff;
	border-radius: 0.3em;
	height: 1.7em;
	padding: 0;
	margin-top: 0.4em;
	font-size: 1em;
}
#color,#page,#closewish{
	display: none;
}

/*foot*/
#foot {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -4em;
	margin-bottom: 0.5em;
	opacity: 0.3;
	font-size: 12px;
}
#foot p {
	text-align: center;
	font-size: 1em;
	margin-top: 0.25em;
}
#foot p:first-of-type {
	display: none;
}

#wishwin,#wish,#makewishC2,#makewishC3 {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
#lazyDiv1,#lazyDiv2,#lazyDiv3 {
	position: absolute;
	top: -200%;
	left: -200%;
}

@media screen and (max-width: 300px) { 
	.wishbox .avatar {
		display: none;
	}
	.wishbox .line {
		left: 5%;
	}
}

@media screen and (max-height: 240px) {
	#wish {
		margin-top: -2em;
	}
}